{% extends 'base_product.html.twig' %}
{% block body %}
{{message}}

<div class="row">
   <h3>
    {{header}}
    </h3>
</div>
<div class="row">
{{ form_start(clientForm) }}
{{ form_widget(clientForm) }}
{{ form_end(clientForm) }}
</div>
{% endblock %}