{% extends 'base_product.html.twig' %}

{% block body %}
    <div class="row">
         <h3>Product List</h3>
        
    </div>
    
    {% for flash_message in app.session.flashBag.get('message') %}
    <div class="alert alert-info">
        {{ flash_message }}
    </div>
{% endfor %}
    
    <div class="row">
   
    <a href="{{ path('client_products_form') }}" class="btn btn-primary">Add product</a>
     </div>
     
     <div class="row">
    <ul class="list-group" style="width:50%;margin-top: 40px;"> 
        {% for product in products %}
            <li class="list-group-item justify-content-between">
                  {{ product.name }}
                <a href="{{ path('client_products_form', {'id': product.id}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('client_products_delete', {'id': product.id}) }}" class="btn btn-danger">Delete</a></li>
            {% endfor %}
    </ul>
 </div>
{% endblock %}    


